<template lang="html">
  <div>
    <el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
      <router-link to="/"><el-menu-item index="1"><i class="el-icon-menu"></i>Home</el-menu-item></router-link>
    </el-menu>
  </div>
</template>

<script>
export default {
  data() {
      return {
        activeIndex: '1'
      };
    },
    methods: {

    }
}
</script>

<style scoped>
  img {
    width: 51.2px;
    height: 51.2px;
    padding: 15px;
  }
</style>
