<template>
  <div>
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-4"><router-link to="/"><el-button>Voltar</el-button></router-link></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="form-login">
            <el-row :gutter="20">
              <el-col :span="6"><div>&nbsp;</div></el-col>
              <el-col :span="12">
                <el-form :model="usuarioDTO" :rules="rules2" ref="usuarioDTO" class="demo-ruleForm">
                  <el-form-item prop="nome">
                    <el-input type="text" v-model="usuarioDTO.nome" auto-complete="off" placeholder="nome"></el-input>
                  </el-form-item>
                  <el-form-item prop="email">
                    <el-input type="text" v-model="usuarioDTO.email" auto-complete="off" placeholder="email"></el-input>
                  </el-form-item>
                  <el-form-item prop="telefone">
                    <el-input type="text" v-model="usuarioDTO.telefone" auto-complete="off" placeholder="telefone"></el-input>
                  </el-form-item>
                  <el-form-item prop="data_nascimento">
                    <el-date-picker format="dd/MM/yyyy" type="date" placeholder="informe a data de nascimento" v-model="usuarioDTO.data_nascimento" style="width: 100%;"></el-date-picker>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click.native.prevent="submitForm('usuarioDTO')">Salvar</el-button>
                    <el-button @click.native.prevent="resetForm('usuarioDTO')">Limpar</el-button>
                  </el-form-item>
                </el-form>
              </el-col>
              <el-col :span="6"><div>&nbsp;</div></el-col>
            </el-row>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</template>

<script>
import header from './header.vue'

export default {
  data() {
    var validaLoginForm = (rule, value, callback) => {
      if (value === undefined || value === '' || value === null) {
        callback(new Error('Por favor informe um valor.'));
      } else {
        callback();
      }
    };
    var validaEmail = (rule, value, callback) => {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (value === undefined || value === '' || value === null) {
        callback(new Error('Por favor informe um valor.'));
      }
      else if (!re.test(value)) {
        callback(new Error('Email inválido'));
      } else {
        callback();
      }
    };
    return {
      // nome: null,
      // email: null,
      // telefone: null,
      // data_nascimento: null,
      usuarioDTO: {
        nome: null,
        email: null,
        telefone: null,
        data_nascimento: null,
      },
      rules2: {
        nome: [
          { validator: validaLoginForm, trigger: 'blur' }
        ],
        email: [
          { validator: validaEmail, trigger: 'blur' }
        ],
        telefone: [
          { validator: validaLoginForm, trigger: 'blur' }
        ],
        data_nascimento: [
          { validator: validaLoginForm, trigger: 'blur' }
        ],
      }
    };
  },
  methods: {
    submitForm(formName) {

      var self = this;
      this.$refs[formName].validate((valid) => {
        if (valid) {

          this.usuarioDTO.data_nascimento = this.dateDB(this.usuarioDTO.data_nascimento);

          if(this.$route.params.id) {
            self.update(this.$route.params.id);
          } else {
            self.store();
          }
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    dateBR: function (date) {
      return this.$moment(date).format('MM/DD/YYYY');
    },
    dateDB: function (date) {
      return this.$moment(date).format('YYYY-MM-DD');
    },
    store() {
      this.$axios.post('/usuarios', this.usuarioDTO).then((response) => {
        if(response.status === 200) {
          const h = this.$createElement;
          this.$notify({
            title: 'Usuário criado',
            message: h('i', { style: 'color: teal' }, 'Usuário adicionado com sucesso!')
          });
          this.$router.push('/'); // home
        }
      }).catch((err) => {
          const h = this.$createElement;
          this.$notify.error({
            title: 'Erro',
            message: h('i', { style: 'color: teal' }, 'Erro ao criar o usuário')
          });
          console.log(err);
      });
    },
    update(id) {
      this.$axios.put('/usuarios/'+id, this.usuarioDTO).then((response) => {
        if(response.status === 200) {
          const h = this.$createElement;
          this.$notify({
            title: 'Usuário editado',
            message: h('i', { style: 'color: teal' }, 'Usuário editado com sucesso!')
          });
          this.$router.push('/'); // home
        }
      }).catch((err) => {
          const h = this.$createElement;
          this.$notify.error({
            title: 'Erro',
            message: h('i', { style: 'color: teal' }, 'Erro ao atualizar o usuário')
          });
          console.log(err);
      });
    }
  },
  components: {
    'app-header': header
  },
  mounted() {
    console.log('mounted');
    //console.log('this.$route', this.$route);
    if(this.$route.params.id) {
      var id = this.$route.params.id;

      // buscar usuário
      this.$axios.get('/usuarios/'+id).then((response) => {
      //console.log('get usuario', response);
        var dados = null;
        if(response.status === 200) {
          dados = response.data[0];
          console.log('dados', dados.data_nascimento);
          dados.data_nascimento = this.dateBR(dados.data_nascimento);
          this.usuarioDTO = dados;
        } else {
          console.log(response.status, response.statusText);
        }
      }).catch((err) => {
          const h = this.$createElement;
          this.$notify.error({
            title: 'Erro',
            message: h('i', { style: 'color: teal' }, 'Erro ao buscar o usuário')
          });
          console.log(err);
      });
    }

  }

}
</script>

<style scoped>
  .form-login {margin-top: 10%;}
  .el-button {margin-top:40px;}
</style>
