<template>
  <div>
    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-4"><router-link to="/edit"><el-button type="primary">Adicionar usuário</el-button></router-link></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <!-- <div class="col-md-4">
          <el-input class="search-input"
            placeholder="Informe o que deseja procurar..."
            icon="search"
            v-model="searchWord">
          </el-input>
          <div class="col-md-4"></div>
        </div> -->
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <data-tables
            :data="tableUsuarios"
            border
            :has-action-col="false"
            :search-def='getSearchDef()'
            :pagination-def='getPaginationDef()'
            style="width: 100%">
            <el-table-column
              prop="nome"
              label="Nome"
              sortable='custom'>
            </el-table-column>
            <el-table-column
              prop="email"
              label="Email"
              width="180">
            </el-table-column>
            <el-table-column
              prop="telefone"
              label="Telefone"
              width="180">
            </el-table-column>
            <el-table-column
              label="Data de nascimento"
              width="180">
              <template scope="scope">
                <span>{{ dateBR(scope.row.data_nascimento) }}</span>
              </template>
            </el-table-column>
            <el-table-column>
              <template scope="scope">
                <el-button size="small" @click.native.prevent="editUsuario(scope.$index, scope.row.id)">Editar</el-button>
                <el-button size="small" type="danger" @click.native.prevent="deleteUsuario(scope.$index, scope.row.id)">Remover</el-button>
              </template>
            </el-table-column>
          </data-tables>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import header from './header.vue'

export default {
  data() {
      return {
        tableUsuarios: [],
        filteredData: [],
        sortData: {},
        currentPage: 1,
        internalPageSize: 5,
        searchKey: '',
        checkedFilters: [],
        innerActionsDef: {},
        innerCheckboxFilterDef: {},
        innerSearchDef: {},
        innerPaginationDef: {}
      }
    },
    methods: {
      deleteUsuario(index, id) {
        if(confirm('Tem certeza que deseja deletar?')) {
          //dataTable.splice(index, 1);
          //console.log('scope', s);

          // deletar usuário
          this.$axios.delete('/usuarios/'+id).then((response) => {
            //console.log('get usuarios', response.data[0]);
            if(response.status === 200) {
              //this.tableUsuarios = response.data[0];
              const h = this.$createElement;
              this.$notify({
                title: 'Usuário deletado',
                message: h('i', { style: 'color: teal' }, 'Usuário deletado com sucesso!')
              });
              this.tableUsuarios.splice(index, 1);
            }
          }).catch((err) => {
              const h = this.$createElement;
              this.$notify.error({
                title: 'Erro',
                message: h('i', { style: 'color: teal' }, 'Erro ao deletar o usuário')
              });
              console.log(err);
          });
        }

      },
      editUsuario(index, id) {
        console.log(index, id);
        this.$router.push('/edit/'+id)
      },
      dateBR: function (date) {
        return this.$moment(date).format('DD/MM/YYYY');
      },
      dateDB: function (date) {
        return this.$moment(date).format('YYYY-MM-DD');
      },
      formatProps(props) {
        return props ? [].concat(props) : undefined
      },
      handleSort(obj) {
        this.sortData = obj
      },
      handleSizeChange(size) {
        this.internalPageSize = size
      },
      handleCurrentChange(currentPage) {
        this.currentPage = currentPage
      },
      handleFilterChange(checkedFilters) {
        this.checkedFilters = checkedFilters
      },
      handleRowClick(row, event, column) {
        if (column && this.innerColNotRowClick.indexOf(column.property) === -1) {
          this.$emit('row-click', row)
        }
      },
      handleSelectChange(selection) {
        this.$emit('selection-change', selection)
      },
      handleSelect(selection, row) {
        this.$emit('select', selection, row)
      },
      handleSelectAll(selection) {
        this.$emit('select-all', selection)
      },
      handleCurrentRowChange(currentRow, oldCurrentRow) {
        this.$emit('current-change', currentRow, oldCurrentRow)
      },
      getSearchDef() {
        return {
          offset: 0,
          placeholder: 'Pesquisa...',
          width: 100,
          filterFunction(el, filter) {
            //return String(el.nome.toLowerCase()).indexOf(filter.val.toLowerCase()) > -1
            return Object.keys(el).some(key => {
              if (el[key] === undefined) {
                console.error(ErrorTips.propError(key))
              }
              return String(el[key]).indexOf(filter.val) > -1
            })
          }
        }
      },
      getPaginationDef() {
        return {
          layout: 'total, prev, pager, next, jumper, sizes',
          pageSize: 5,
          pageSizes: [5, 10, 15],
          currentPage: 1
        }
      }
    },
    watch: {
      tableUsuarios: function (rows) {
        this.tableUsuarios = rows;
      },
      innerPaginationDef: {
        immediate: true,
        handler(val) {
          this.internalPageSize = val.pageSize
          this.currentPage = val.currentPage
        }
      }
    },
    mounted() {
      // buscar os usuários
      this.$axios.get('/usuarios').then((response) => {
        console.log('get usuarios', response.data[0]);
        if(response.status === 200) {
          this.tableUsuarios = response.data[0];
        } else {
          console.log(response.status, response.statusText);
        }
      }).catch((err) => {
          console.log(err);
      });
    },
    components: {
      'app-header': header
    },
    created() {
      this.innerActionsDef = Object.assign({}, {
        def: [],
        width: 5,
        offset: 0
      }, this.actionsDef)

      this.innerRowActionDef = this.rowActionDef.map(el => {
        if (!el.type) {
          el.type = 'text'
        }
        return el
      })

      this.innerCheckboxFilterDef = Object.assign({}, {
        props: undefined,
        def: [],
        width: 5,
        offset: 0,
        filterFunction: undefined
      }, this.checkboxFilterDef)

      this.innerSearchDef = Object.assign({}, {
        show: true,
        props: undefined,
        filterFunction: undefined,
        width: 5,
        placeholder: '',
        offset: 0
      }, this.searchDef)

      this.innerPaginationDef = Object.assign({}, {
        layout: 'prev, pager, next, jumper, sizes, total',
        pageSize: 5,
        pageSizes: [5, 10, 20],
        currentPage: 1
      }, this.paginationDef)
    },
    props: {
      data: {
        type: Array,
        default() {
          return []
        }
      },
      border: {
        type: Boolean,
        default() {
          return true
        }
      },
      stripe: {
        type: Boolean,
        default() {
          return true
        }
      },
      tableProps: {
        type: Object
      },
      actionsDef: {
        type: Object,
        default() {
          return {}
        }
      },
      checkboxFilterDef: {
        type: Object,
        default() {
          return {}
        }
      },
      searchDef: {
        type: Object,
        default() {
          return {}
        }
      },
      rowActionDef: {
        type: Array,
        default() {
          return []
        }
      },
      actionColLabel: {
        type: String,
        default: 'Ações'
      },
      hasActionCol: {
        type: Boolean,
        default: true
      },
      actionColWidth: String,
      actionColFixed: [String, Boolean],
      colNotRowClick: {
        type: Array,
        default() {
          return []
        }
      },
      paginationDef: {
        type: Object,
        default() {
          return {}
        }
      }
    },
    computed: {
      innerColNotRowClick() {
        return this.colNotRowClick.concat(['innerRowActions'])
      },
      tableData() {
        let newData = this.data.slice()
        console.log(newData)
        let doFilter = function(defaultFilterFunction, filter, value) {
          let filterFunction = filter.filterFunction || defaultFilterFunction

          newData = newData.filter(el => {
            return filterFunction(el, filter)
          })
        }

        this.filters.forEach((filter) => {
          console.log(filter)
          let val = filter.val
          if (!val || val.length === 0) {
            return true
          }

          let defaultFilterFunction
          if (filter.props) {
            // the filter is for some special column
            if (!(val instanceof Array)) {
              // filter value is not list
              defaultFilterFunction = function(el, filter) {
                return filter.props.some(prop => {
                  return el[prop].indexOf(filter.val) > -1
                })
              }
            } else if (val instanceof Array && val.length > 0) {
              // filter value is list, at the same time not empty
              defaultFilterFunction = function(el, filter) {
                return filter.props.some(prop => {
                  return filter.val.indexOf(el[prop]) > -1
                })
              }
            }
          } else {
            // filter is for all column
            defaultFilterFunction = function(el, filter) {
              return Object.keys(el).some(key => {
                return String(el[key]).indexOf(filter.val) > -1
              })
            }
          }
          console.log(defaultFilterFunction, filter)
          doFilter(defaultFilterFunction, filter)
        })

        if (this.sortData.order) {
          let order = this.sortData.order
          let prop = this.sortData.prop
          let isDescending = order === 'descending'

          // todo: customize sort function
          newData.sort(function(a, b) {
            if (a[prop] > b[prop]) {
              return 1
            } else if (a[prop] < b[prop]) {
              return -1
            } else {
              return 0
            }
          })
          if (isDescending) {
            newData.reverse()
          }
        }

        console.log(newData)
        this.$emit('filtered-data', newData)
        return newData
      },
      curTableData() {
        let from = this.internalPageSize * (this.currentPage - 1)
        let to = from + this.internalPageSize
        return this.tableData.slice(from, to)
      },
      total() {
        return this.tableData.length
      },
      checkboxShow() {
        return this.innerCheckboxFilterDef.def.length > 0
      },
      searchShow() {
        return this.innerSearchDef.show !== false
      },
      actionsShow() {
        return this.innerActionsDef.def.length > 0
      },
      filters() {
        let filters = []

        if (this.searchShow) {
          filters.push({
            props: this.formatProps(this.innerSearchDef.props),
            val: this.searchKey,
            filterFunction: this.innerSearchDef.filterFunction
          })
        }
        if (this.checkboxShow) {
          filters.push({
            props: this.formatProps(this.innerCheckboxFilterDef.props),
            val: this.checkedFilters,
            filterFunction: this.innerCheckboxFilterDef.filterFunction
          })
        }
        console.log(filters)
        return filters
      }
    }
}
</script>

<style>
  .search {float:left;margin:40px 0 0 0 !important;width: 500px;}
  .el-button--primary {margin-top:40px;}
</style>
