body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  text-decoration: none;
}

:root {

  /* Transition
  -------------------------- */

  /* Colors
  -------------------------- */

  /* Link
  -------------------------- */

  /* Border
  -------------------------- */

  /* Box-shadow
  -------------------------- */

  /* Fill
  -------------------------- */

  /* Font
  -------------------------- */

  /* Size
  -------------------------- */

  /* z-index
  -------------------------- */

  /* Disable base
  -------------------------- */

  /* Icon
  -------------------------- */

  /* Checkbox
  -------------------------- */



  /* Radio
  -------------------------- */

  /* Select
  -------------------------- */

  /* Alert
  -------------------------- */

  /* Message Box
  -------------------------- */

  /* Message
  -------------------------- */

  /* Notification
  -------------------------- */

  /* Input
  -------------------------- */

  /* Cascader
  -------------------------- */

  /* Group
  -------------------------- */

  /* Tab
  -------------------------- */

  /* Button
  -------------------------- */


  /* cascader
  -------------------------- */

  /* Switch
 -------------------------- */

  /* Dialog
 -------------------------- */

  /* Table
 -------------------------- */

  /* Pagination
 -------------------------- */

  /* Popover
 -------------------------- */

  /* Tooltip
  -------------------------- */

  /* Tag
  -------------------------- */

  /* Dropdown
  -------------------------- */

  /* Badge
  -------------------------- */

  /* Card
  --------------------------*/

  /* Slider
  --------------------------*/

  /* Steps
  --------------------------*/

  /* Menu
  --------------------------*/

  /* Rate
  --------------------------*/

  /* DatePicker
  --------------------------*/

  /* Loading
  --------------------------*/

  /* Scrollbar
  --------------------------*/

  /* Carousel
  --------------------------*/

  /* Collapse
  --------------------------*/

  /* Transfer
  --------------------------*/
}
