/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Correct color not being inherited.
      Known issue: affects color of disabled elements.
 * 2. Change font properties to `inherit` in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: middle;
}
/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: 700;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
  resize: none;
  vertical-align: top;
}
/* webkit focus outline */

input,
select,
textarea {
  outline: 0;
}
/* Re-set default cursor for disabled elements. */

[disabled] {
  cursor: default;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, ff, and Safari.
 */

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.54;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* table
   ========================================================================== */
/* Remove table cell spacing and padding */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

:root {
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
  /* Transfer
  --------------------------*/
}
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(31, 45, 61);
}

a {
  color: #20a0ff;
  text-decoration: none
}

a:hover, a:focus {
  color: rgb(77, 179, 255);
}

a:active {
  color: rgb(29, 144, 230);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(31, 45, 61);
  font-weight: inherit
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4, h5, h6, p {
  font-size: inherit;
}

p {
  line-height: 1.8
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

sup, sub {
  font-size: 13px;
}

small {
  font-size: 12px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}* {
  text-decoration: none;
}:root {
  /* Transition
  -------------------------- */
  /* Colors
  -------------------------- */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Box-shadow
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Font
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* Message Box
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
 -------------------------- */
  /* Dialog
 -------------------------- */
  /* Table
 -------------------------- */
  /* Pagination
 -------------------------- */
  /* Popover
 -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
  /* Transfer
  --------------------------*/
}